[submodule "libretro/deps/sdl"]
	path = libretro/deps/sdl
	url = https://github.com/fr500/sdl1.2.git
[submodule "libretro/deps/common"]
	path = libretro/deps/common
	url = https://github.com/libretro/libretro-common.git
[submodule "libretro/deps/munt"]
	path = libretro/deps/munt
	url = https://github.com/munt/munt.git
[submodule "libretro/deps/fluidsynth"]
	path = libretro/deps/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
[submodule "libretro/deps/libinstpatch"]
	path = libretro/deps/libinstpatch
	url = https://github.com/swami/libinstpatch.git
